<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Calendar App</h1>
    <p>Please choose an option below:</p>
    
    {{if .UserExists}}
        <!-- ユーザーがいる場合 -->
        <a href="/adminlogin">Admin</a> | <a href="/login">Login</a>
    {{else}}
        <!-- ユーザーがいない場合 -->
        <p>No users found. Please initialize an admin account.</p>
        <a href="/adminregister">Initialize Admin</a>
{{end}}
</body>
</html>
